.footer {
  margin: 0;
  color: grey;
  padding: 2rem 1rem;
  font-size: 0.8rem;
}

svg {
  color: white;
}


.footer__copy {
  margin-left: 104px;
  margin-top: 10px;
  font-size: 12px;
  color: grey
}

.footer_link {
  font-size: 14px;
}
